*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

img{
    width: 50%;
    min-width: 250px;
}

body{
    background: rgba(3, 3, 3, 0.5) url('https://images.unsplash.com/photo-1526371233670-42d618efcec5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvb2RzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 4em;
}

ul{
}

li, p{
    font-size: 3em;
}